.order-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.order-date {
  margin-right: -40%;
}

.order-products {
  display: flex;
  /* justify-content: space-around; */
}
