.order-product {
  display: flex;
  margin-right: 55px;
}

.order-product:last-child {
  margin-right: 0;
}

.order-product-image {
  max-width: 150px;
  max-height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.order-product-image img {
  width: 100%;
}

.order-product-info {
  display: flex;
  flex-direction: column;
  width: 180px;
}

.order-product-price {
  margin: 10px 0;
}
