h1 {
  font-weight: 500;
  font-size: 24px;
  margin: 0;
}

h2 {
  font-weight: 500;
  font-size: 18px;
  margin: 0;
  margin-bottom: 15px;
}

strong {
  font-weight: 500;
}

p {
  margin: 0;
}

input:focus {
  outline-color: rgb(165, 165, 165);
}
