.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.product-description {
  width: 100%;
}

.product-price {
  margin: 5px 0;
}

.product-image {
  display: flex;
  align-items: center;
  height: 200px;
  max-width: 300px;
}

img {
  max-width: 100%;
  max-height: 100%;
}
