.checkout-product {
  display: flex;
  margin: 50px 0 80px 0;
}

.checkout-product:last-child {
  margin-bottom: 40px;
}

.checkout-product-image {
  width: 200px;
  max-height: 200px;
  margin-right: 30px;
  display: flex;
  justify-content: center;
}

.checkout-product-info {
  margin-right: auto;
}

.checkout-stars {
  margin-bottom: 20px;
}

.checkout-product-number {
  height: 100%;
  display: flex;
}

.checkout-product-number strong {
  margin: 0 10px;
}
