.subtotal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subtotal h2 {
  width: 100%;
}

.subtotal p {
  width: 100%;
  margin-bottom: 5px;
}

.subtotal p:last-of-type {
  margin-bottom: 20px;
}
