.login-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  flex-flow: column;
  z-index: 200;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 961px) {
  .login-animate-container {
    width: 500px;
    animation: slide-down 0.5s;
  }
}

@media only screen and (max-width: 960px) {
  .login-animate-container {
    width: 400px;
    animation: slide-down 0.5s;
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(0%);
  }
}

.login-prompt {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.login-close-icon:hover {
  cursor: pointer;
}

.login form {
  margin-top: 20px;
}

.login-field {
  margin: 10px 20px 0 0;
}

.login-buttons {
  margin: 20px 0 10px 0;
}
